img {
  width: 100%;
  height: fit-content;
  justify-self: center;
  align-self: top;
  transition: box-shadow .15s ease-in;

}

.BodyClass{
  padding-inline: 2.5rem;

  mat-card-header{
    display: flex;
    flex-direction: column;
    padding-top: 1rem;

      .subtitle{
        padding-top: 1rem;
      }

      mat-chip-set{
        display: flex;
        flex-wrap: wrap;
      }
    }

    p, .title, .subtitle{
      font-family: "Poppins";
    }

    .subtitle{
      font-weight: bold;
    }

    p {
      font-size: 13pt;
    }

    .ValorDiv{
      display: flex;
      gap: 10px;
      align-items: center;
    }

  .ActionsDivClass{
    width: 100%;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;

    button{
      width: 30%;
      height: 3rem;
    }
  }
}
