mat-form-field, td input[matInput] {
  width: 11rem;
  border-radius: 25px;
}

.ActionsCellClass {
  display: flex;
  height: 60px;
  justify-content: center;
}

.ActionsCellClass button {
  background-color: transparent;
  border: none;
  color: var(--tertiary);
  cursor: pointer;
}

.ActionsCellClass .EditButtonClass {
  padding-right: 15px;
}

.ActionsContainerClass {
  width: fit-content;
}

#actionsHeaderId {
  text-align: center;
}

.FacultadesSearchForm {
  width: 100%;
  display: flex;
  justify-content: center;
}

.FacultadesSearchForm mat-form-field {
  transition: width 0.35s ease-in-out;
}

.FacultadesSearchForm mat-form-field:focus-within {
  width: 70%;
  transition: width 0.27s ease-out;
}

.FacultadesSearchForm mat-form-field input {
  width: 100%;
  text-align: center;
}

table.mat-table td {
  padding: 8px;
}

.mat-cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}