<mat-card class="formulario-card">
  <h2>{{ editarModo ? 'Editar' : 'Crear' }} un evento para un club universitario</h2>

  <form [formGroup]="eventoForm" (ngSubmit)="guardarEvento()" class="evento-form">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Título</mat-label>
      <input matInput formControlName="titulo" placeholder="Titulo..." required>
      @if (eventoForm.get('titulo')?.hasError('required')) {
        <mat-error>
          El título es requerido
        </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Descripción</mat-label>
      <textarea matInput formControlName="descripcion" placeholder="Descripcion..." required></textarea>
      @if (eventoForm.get('descripcion')?.hasError('required')) {
        <mat-error>
          La descripción es requerida
        </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Categoría</mat-label>
      <mat-select formControlName="categoria" required>
        @for (cat of categorias; track cat) {
          <mat-option [value]="cat">{{ cat }}</mat-option>
        }
      </mat-select>
      @if (eventoForm.get('categoria')?.hasError('required')) {
        <mat-error>
          La categoría es requerida
        </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Fecha del evento</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="fecha" placeholder="Fecha..." required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      @if (eventoForm.get('fecha')?.hasError('required')) {
        <mat-error>
          La fecha es requerida
        </mat-error>
      }
    </mat-form-field>

    <label class="radio-label">¿Es gratuito?</label>
    <mat-radio-group formControlName="esGratuito" class="radio-group" required>
      <mat-radio-button [value]="true">Sí</mat-radio-button>
      <mat-radio-button [value]="false">No</mat-radio-button>
    </mat-radio-group>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Costo</mat-label>
      <input matInput type="number" formControlName="costo" placeholder="10.50">
      @if (eventoForm.get('costo')?.hasError('required')) {
        <mat-error>
          El costo es requerido para eventos pagados
        </mat-error>
      }
      @if (eventoForm.get('costo')?.hasError('min')) {
        <mat-error>
          El costo mínimo es $0.01
        </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Lugar</mat-label>
      <input matInput formControlName="lugar" required placeholder="Escriba un lugar...">
      @if (eventoForm.get('lugar')?.hasError('required')) {
        <mat-error>
          El lugar es requerido
        </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Nombre del club</mat-label>
      <mat-select formControlName="nombreClub" >
        @for (club of clubes; track club) {
          <mat-option [value]="club.nombre">{{ club.nombre }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>URL del afiche</mat-label>
      <input matInput formControlName="aficheUrl" required placeholder="Url de la imagen...">
      @if (eventoForm.get('aficheUrl')?.hasError('required')) {
        <mat-error>
          La URL del afiche es requerida
        </mat-error>
      }
    </mat-form-field>

    @if (imagenPreview) {
      <div class="imagen-preview">
        <img [src]="imagenPreview" alt="Previsualización del afiche">
      </div>
    }

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Etiquetas</mat-label>
      <input matInput formControlName="etiquetas" placeholder="Escriba las etiquetas" >
      @if (eventoForm.get('etiquetas')?.hasError('required')) {
        <mat-error>
          Las etiquetas son requeridas
        </mat-error>
      }
    </mat-form-field>

    <div class="form-buttons">
      <button mat-raised-button color="primary" type="submit">
        {{ editarModo ? 'Actualizar' : 'Crear' }} evento
      </button>
      <button mat-stroked-button type="button" (click)="resetFormulario()">Cancelar</button>
    </div>
  </form>
</mat-card>

<mat-card class="tabla-card">
  <table mat-table [dataSource]="eventos" class="mat-elevation-z8 tabla-eventos">

    <ng-container matColumnDef="titulo">
      <th mat-header-cell *matHeaderCellDef>Título</th>
      <td mat-cell *matCellDef="let evento">{{ evento.titulo }}</td>
    </ng-container>

    <ng-container matColumnDef="descripcion">
      <th mat-header-cell *matHeaderCellDef>Descripción</th>
      <td mat-cell *matCellDef="let evento">{{ evento.descripcion }}</td>
    </ng-container>

    <ng-container matColumnDef="categoria">
      <th mat-header-cell *matHeaderCellDef>Categoría</th>
      <td mat-cell *matCellDef="let evento">{{ evento.categoria }}</td>
    </ng-container>

    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef>Fecha</th>
      <td mat-cell *matCellDef="let evento">{{ evento.fecha | date:'mediumDate' }}</td>
    </ng-container>

    <ng-container matColumnDef="esGratuito">
      <th mat-header-cell *matHeaderCellDef>Gratuito</th>
      <td mat-cell *matCellDef="let evento">{{ evento.esGratuito ? 'Sí' : 'No' }}</td>
    </ng-container>

    <ng-container matColumnDef="costo">
      <th mat-header-cell *matHeaderCellDef>Costo</th>
      <td mat-cell *matCellDef="let evento">{{ evento.esGratuito ? '-' : (evento.costo | currency) }}</td>
    </ng-container>

    <ng-container matColumnDef="lugar">
      <th mat-header-cell *matHeaderCellDef>Lugar</th>
      <td mat-cell *matCellDef="let evento">{{ evento.lugar }}</td>
    </ng-container>

    <ng-container matColumnDef="nombreClub">
      <th mat-header-cell *matHeaderCellDef>Club</th>
      <td mat-cell *matCellDef="let evento">{{ evento.nombreClub }}</td>
    </ng-container>

    <ng-container matColumnDef="aficheUrl">
      <th mat-header-cell *matHeaderCellDef>Afiche</th>
      <td mat-cell *matCellDef="let evento" class="afiche-imagen">
        <img [src]="evento.aficheUrl" alt="Afiche del evento" (click)="imagenPreview = evento.aficheUrl">
      </td>
    </ng-container>

    <ng-container matColumnDef="etiquetas">
      <th mat-header-cell *matHeaderCellDef>Etiquetas</th>
      <td mat-cell *matCellDef="let evento">{{ evento.etiquetas }}</td>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let evento">
        <div class="acciones-container">
          <button mat-icon-button color="primary"
            matTooltip="Editar evento"
            (click)="editarEvento(evento)">
            <mat-icon>edit</mat-icon>
          </button>

          <button mat-icon-button color="warn"
            matTooltip="Eliminar evento"
            (click)="eliminarEvento(evento.id ?? 0)">
            <mat-icon>delete</mat-icon>
          </button>

          @if (editarModo && (idEventoEditando === evento.id)) {
            <button
              mat-icon-button color="accent"
              matTooltip="Cancelar edición"
              (click)="resetFormulario()">
              <mat-icon>close</mat-icon>
            </button>
          }
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
    [class.highlighted]="getRowClass(row)"></tr>
  </table>
</mat-card>
