<h2 class="Titulo">Tu futuro empieza aquí: ¡Inscríbete ya y marca la diferencia!</h2>

<!-- FORMULARIO -->
<div class="form-contenedor">
<mat-dialog-content class="mat-typography">
<form [formGroup]="estudiantesForm" (ngSubmit)="onSubmit()">

<mat-form-field appearance="outline" style="width: 100%;">
  <mat-label>ID</mat-label>
  <input matInput formControlName="id" readonly />
</mat-form-field>

<mat-form-field appearance="outline" style="width: 100%;">
<mat-label>Tu nombre</mat-label>
<input matInput formControlName="estudianteNombre" />
<mat-error *ngIf="estudiantesForm.get('estudianteNombre')?.touched && estudiantesForm.get('estudianteNombre')?.invalid">
  <ng-container *ngIf="estudiantesForm.get('estudianteNombre')?.errors?.['required']">
  El campo es obligatorio
  </ng-container>
  <ng-container *ngIf="estudiantesForm.get('estudianteNombre')?.errors?.['maxlength']">
  El campo no puede exceder 50 caracteres
  </ng-container>
  <ng-container *ngIf="estudiantesForm.get('estudianteNombre')?.errors?.['nombreInvalido']">
  El campo solo puede contener letras y espacios
  </ng-container>
</mat-error>
</mat-form-field>

<mat-form-field appearance="fill" style="width: 100%;">
<mat-label>Nombre del evento</mat-label>
<mat-select formControlName="nombreEvento">
  <mat-option *ngFor="let evento of eventosDisponibles" [value]="evento.titulo">
      {{ evento.titulo }}
</mat-option>
</mat-select>
</mat-form-field>

<!--
<mat-form-field hintLabel="Min 7 caracteres - Max 10 caracteres">
  <mat-label>Ingrese su numero de contacto</mat-label>
  <input matInput #input minlength="7" maxlength="10" placeholder="Ex. Nougat" (input)="onInput($event)"  formControlName="telefono"/>
  <mat-hint align="end">{{value().length}}/10</mat-hint>
</mat-form-field -->

<mat-form-field appearance="outline" style="width: 100%;">
  <mat-label>Ingrese su número de contacto</mat-label>
  <input matInput formControlName="telefono" maxlength="10" />
  <mat-error *ngIf="estudiantesForm.get('telefono')?.touched && estudiantesForm.get('telefono')?.invalid">
    <ng-container *ngIf="estudiantesForm.get('telefono')?.errors?.['required']">
      Este campo es obligatorio
    </ng-container>
    <ng-container *ngIf="estudiantesForm.get('telefono')?.errors?.['minlength']">
      Debe tener al menos 7 dígitos
    </ng-container>
    <ng-container *ngIf="estudiantesForm.get('telefono')?.errors?.['maxlength']">
      No debe superar 10 dígitos
    </ng-container>
    <ng-container *ngIf="estudiantesForm.get('telefono')?.errors?.['soloNumeros']">
      Solo se permiten números
    </ng-container>
  </mat-error>
</mat-form-field>


<!--  -->

<mat-form-field appearance="outline">
  <mat-label>Ingrese su correo</mat-label>
  <input
    matInput
    placeholder="pat@example.com"
    formControlName="email"
    (blur)="updateErrorMessage()"
    required
  />
  <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">
    {{ errorMessage() }}
  </mat-error>
</mat-form-field>

<!--  
<mat-form-field appearance="outline" style="width: 100%;">
<mat-label>Tu edad</mat-label>
<input matInput formControlName="edad" />
<mat-error *ngIf="estudiantesForm.get('edad')?.touched && estudiantesForm.get('edad')?.invalid">
  <ng-container *ngIf="estudiantesForm.get('edad')?.errors?.['required']">
  El campo es obligatorio
  </ng-container>
</mat-error>
</mat-form-field>  -->

<!-- <mat-form-field appearance="outline" style="width: 100%;">
  <mat-label>Tu edad</mat-label>
  <input matInput formControlName="edad" maxlength="2"  (keydown)="soloNumeros($event)"/>
  <mat-error *ngIf="estudiantesForm.get('edad')?.touched && estudiantesForm.get('edad')?.invalid">
    <ng-container *ngIf="estudiantesForm.get('edad')?.errors?.['required']">
      Este campo es obligatorio
    </ng-container>
    <ng-container *ngIf="estudiantesForm.get('edad')?.errors?.['edadInvalida']">
      Solo se permiten números (máximo 2 dígitos)
    </ng-container>
  </mat-error>
</mat-form-field>-->



<!--  -->

<mat-checkbox formControlName="aceptoTerminos">
Recibir avisos de nuevos eventos 
</mat-checkbox>

<div style="margin-top: 16px;">
  <button mat-raised-button class="Registro" type="submit" [disabled]="estudiantesForm.invalid">
    {{ editandoEstudiantes ? 'Actualizar Datos' : 'Enviar Registro' }}
  </button>

  <button *ngIf="editandoEstudiantes" class="Cancelar" mat-button type="button" (click)="cancelarEdicion()" style="margin-left: 8px;">
    Cancelar Edición
  </button>
</div>
</form>
</mat-dialog-content>
</div>
<br /><br> 



<!-- FILTRO DE BUSQUEDA -->
<mat-form-field appearance="outline" class="full-width" style="max-width: 400px; margin-bottom: 16px;">
  <mat-label>Buscar por nombre o teléfono</mat-label>
  <input matInput [formControl]="searchControl" placeholder="Escribe para buscar...">
</mat-form-field>



<!--TABLA DE DATOS-->
<div class="table-container">
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
    <td mat-cell *matCellDef="let element">{{element.id}}</td>
  </ng-container>
  <ng-container matColumnDef="fecha">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>FECHA</th>
    <td mat-cell *matCellDef="let element">{{element.fecha}}</td>
  </ng-container>
  <ng-container matColumnDef="estudianteNombre">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>NOMBRE</th>
    <td mat-cell *matCellDef="let element">{{element.estudianteNombre}}</td>
  </ng-container>
  <ng-container matColumnDef="nombreEvento">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>EVENTO</th>
    <td mat-cell *matCellDef="let element">{{element.nombreEvento}}</td>
  </ng-container>
  <ng-container matColumnDef="telefono">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>TELEFONO</th>
    <td mat-cell *matCellDef="let element">{{element.telefono}}</td>
  </ng-container>
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>CORREO</th>
    <td mat-cell *matCellDef="let element">{{element.email}}</td>
  </ng-container>
  
  <!-- <ng-container matColumnDef="edad">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>EDAD</th>
    <td mat-cell *matCellDef="let element">{{element.edad}}</td>
  </ng-container>-->

  <ng-container matColumnDef="aceptoTerminos">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>ACEPTO TERMINOS</th>
    <td mat-cell *matCellDef="let element">{{element.aceptoTerminos ? 'Sí' : 'No'}}</td>
  </ng-container>
  <ng-container matColumnDef="opciones">
    <th mat-header-cell *matHeaderCellDef>OPCIONES</th>
    <td mat-cell *matCellDef="let element">
      <button mat-button class="editarRegistro" (click)="editarRegistro(element)">Editar</button>
      <button mat-button class="eliminarRegistro" (click)="eliminarRegistro(element)">Eliminar</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table><br>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div> <br>

<app-comentarios></app-comentarios>

