<h1>Gestión de Eventos de Facultad</h1>

<div class="MainActionsContainer">
  <div class="NewEventoContainerDivClass" >
    <button mat-fab extended class="NewEventButtonClass" (click)="addEvento()">
      <mat-icon>add</mat-icon>
      Nuevo Evento
    </button>
  </div>
  <div class="SearchContainerDivClass">
    <form class="FacultadesSearchForm">
      <mat-form-field appearance="outline" class="FormElement">
        <mat-label> Buscar </mat-label>
        <mat-icon matPrefix>search</mat-icon>
        <input matInput type="search" placeholder="Ej.: Nombre del evento" #searchInput (keyup)="search( searchInput )">
      </mat-form-field>
    </form>
  </div>
</div>

@if( eventosFacultades?.length === 0 ){
  <div class="AvisoDivClass">
    <p class="AvisoClass">No existen Eventos para mostrar por el momento.</p>
  </div>
}
@if( eventosFacultades!.length > 0 ){
  <div class="EventosCardsContainer">
    @for( evento of eventosFacultades; track $index ){
      <app-card-reutilizable [eventoFacultad]="evento" (deleted)="deleteEvento( $event )" />
    }
  </div>
}
