<mat-card class="EventoFacultadClass" appearance="outlined">
  <img mat-card-lg-image [src]="eventoFacultad?.aficheUrl" alt="Afiche del Evento" (error)="onAficheImageError( $event )" >
  <div class="CardBodyClass">
    <mat-card-header>
      <mat-card-title class="title">{{ eventoFacultad?.nombre }}</mat-card-title>
      <mat-card-subtitle class="subtitle">{{ eventoFacultad?.area }}</mat-card-subtitle>
      <mat-chip-set role="list">
        <mat-chip role="listitem" class="chip-categoria">{{ categoria | uppercase }}</mat-chip>
        <mat-chip role="listitem" class="chip-facultad">{{ facultad }}</mat-chip>
      </mat-chip-set>
    </mat-card-header>

    <mat-card-content>
      <p>
        {{ eventoFacultad?.descripcion?.descripcionCorta }}
      </p>
      <p>
        @if( eventoFacultad?.organizadorExterno ) {
          <b>Organizador:</b> {{ eventoFacultad?.organizadorExterno }}<br>
        }
        <b>Lugar:</b> {{ eventoFacultad?.lugar }}<br>
        @if( eventoFacultad?.variosDias ){
          <b>Desde:</b> {{ eventoFacultad?.fechaHora | date: 'longDate': undefined : 'es' }}
        }
        @else {
          <b>Fecha:</b> {{ eventoFacultad?.fechaHora | date: 'longDate': undefined : 'es' }}
        }
      </p>
        <div class="ValorDiv">
          <div><b>Valor:</b></div>
          <div>
            @if( eventoFacultad?.esGratuito ) {
              <mat-chip-set>
                <mat-chip class="chip-gratuito">GRATUITO</mat-chip>
              </mat-chip-set>
            }
            @else {
              {{ eventoFacultad?.costo | currency: 'USD' : 'symbol-narrow' : undefined : 'en-US' }}
            }
          </div>
        </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-fab extended (click)="verDetalles()">
        <mat-icon>article</mat-icon>
        Ver Detalles
      </button>
      <button mat-fab extended (click)="eliminar()">
        <mat-icon>delete</mat-icon>
        Eliminar
      </button>
    </mat-card-actions>
  </div>
</mat-card>
