<header>
  <mat-toolbar>
    <a [routerLink]="ROUTES.get( 'home' )" aria-label="Ir a Inicio">
      <img src="/images/Logo_UG_EVENTOS_white.webp" alt="UG Eventos Logo" height="50px">
    </a>

    <div class="HeaderNavigationShortContainer">
      <span class="ShortContainerPageTitle">
        <span class="ShortContainerPageTitleContent" [title]="getPageTitleName()">
          <mat-icon>{{getPageTitleIcon()}}</mat-icon>
          {{getPageTitleName()}}
        </span>
      </span>
      <button mat-icon-button
        class="HeaderNavigationResponsiveMenuBtn" [matMenuTriggerFor]="mainResponsiveShortMenu"
        matTooltip="Menu" matTooltipPosition="left" matTooltipClass="tooltip-action-info" >
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #mainResponsiveShortMenu="matMenu">
        <button mat-menu-item [routerLink]="ROUTES.get( 'home' )">
          <mat-icon>home</mat-icon>
          <span>Inicio</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item [routerLink]="ROUTES.get( 'eventos' )">
          <mat-icon>event</mat-icon>
          <span>Eventos</span>
        </button>
        @if ( usuarioLogueado && ( rolEnum[usuarioLogueadoRolId] === 'FACULTAD' || rolEnum[usuarioLogueadoRolId] === 'ADMINISTRADOR' ) ) {
          <button mat-menu-item [routerLink]="ROUTES.get( 'crudEventosFacultades' )">
            <mat-icon>event_upcoming</mat-icon>
            <span>Gestion de Eventos(Facultad)</span>
          </button>
        }
        @if ( usuarioLogueado && ( rolEnum[usuarioLogueadoRolId] === 'CLUB' || rolEnum[usuarioLogueadoRolId] === 'ADMINISTRADOR' ) ) {
          <button mat-menu-item [routerLink]="ROUTES.get( 'crudEventosClubes' )">
            <mat-icon>event_upcoming</mat-icon>
            <span>Gestion de Eventos(Club)</span>
          </button>
        }
        @if ( usuarioLogueado && ( rolEnum[usuarioLogueadoRolId] === 'ADMINISTRADOR' ) ) {
          <mat-divider></mat-divider>
          <button mat-menu-item [routerLink]="ROUTES.get( 'adminPanel' )">
            <mat-icon>admin_panel_settings</mat-icon>
            <span>Panel de Admin</span>
          </button>
        }
        <mat-divider></mat-divider>
        @if ( usuarioLogueado ) {
          <button mat-menu-item [routerLink]="ROUTES.get( 'perfil' )">
            <mat-icon class="ProfileMenuMatIcon">
              @if ( usuarioLogueado.fotoPerfilUrl ) {
                <img class="AccountProfileFallbackMenuImage" [src]="usuarioLogueado.fotoPerfilUrl" alt="Imagen de Perfil">
              }
              @else {
                account_circle
              }
            </mat-icon>
            <span>Perfil - {{getUserName()}}</span>
          </button>
          <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Cerrar Sesión</span>
          </button>
        }
        @else {
          <button mat-menu-item [routerLink]="ROUTES.get( 'login' )">
            <mat-icon>login</mat-icon>
            <span>Iniciar Sesión</span>
          </button>
          <button mat-menu-item [routerLink]="ROUTES.get( 'signup' )">
            <mat-icon>signature</mat-icon>
            <span>Registrarse</span>
          </button>
        }
      </mat-menu>
    </div>

    <div class="HeaderNavigationWideContainer">
      <span class="spacer"></span>
      <nav>
        <a [routerLink]="ROUTES.get( 'home' )" routerLinkActive="ActiveLink" aria-label="Pagina de Inicio" class="HeaderNavLink">
          <mat-icon matPrefix>home</mat-icon>
          Inicio
        </a>
        <a [routerLink]="ROUTES.get( 'eventos' )" routerLinkActive="ActiveLink" aria-label="Pagina de Eventos" class="HeaderNavLink">
          <mat-icon matPrefix>event</mat-icon>
          Eventos
        </a>
        @if ( usuarioLogueado && ( rolEnum[usuarioLogueadoRolId] === 'FACULTAD' || rolEnum[usuarioLogueadoRolId] === 'ADMINISTRADOR' ) ) {
          <a [routerLink]="ROUTES.get( 'crudEventosFacultades' )" routerLinkActive="ActiveLink" aria-label="Pagina de Gestion Eventos de Facultad" class="HeaderNavLink">
            <mat-icon matPrefix>event_upcoming</mat-icon>
            Gestion de Eventos(Facultad)
          </a>
        }
        @if ( usuarioLogueado && ( rolEnum[usuarioLogueadoRolId] === 'CLUB' || rolEnum[usuarioLogueadoRolId] === 'ADMINISTRADOR' ) ) {
          <a [routerLink]="ROUTES.get( 'crudEventosClubes' )" routerLinkActive="ActiveLink" aria-label="Pagina de Gestion Eventos de Club" class="HeaderNavLink">
            <mat-icon matPrefix>event_upcoming</mat-icon>
            Gestion de Eventos(Club)
          </a>
        }
      </nav>
      <span class="spacer"></span>
      @if ( usuarioLogueado && ( rolEnum[usuarioLogueadoRolId] === 'ADMINISTRADOR' ) ) {
        <a mat-button [routerLink]="ROUTES.get( 'adminPanel' )" routerLinkActive="ActiveLink" aria-label="Panel de Administrador" class="signin-button">
          <mat-icon matPrefix>admin_panel_settings</mat-icon>
          <span class="HeaderLinkButtonText">Panel de Admin</span>
        </a>
      }
      <div class="SessionOptions">
        @if ( usuarioLogueado ){
          <button class="Avatar" [matMenuTriggerFor]="profileAvatarMenu">
            @if ( usuarioLogueado.fotoPerfilUrl ) {
              <img class="AccountProfileImageFallbackIcon" [src]="usuarioLogueado.fotoPerfilUrl" alt="Imagen de Perfil">
            }
            @else {
              <mat-icon class="AccountProfileImageFallbackIcon">account_circle</mat-icon>
            }
            <span class="HeaderText">{{getUserName()}}</span>
          </button>
          <mat-menu #profileAvatarMenu="matMenu">
            <button mat-menu-item [routerLink]="ROUTES.get( 'perfil' )">
              <mat-icon>id_card</mat-icon>
              <span>Perfil</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="logout()">
              <mat-icon>logout</mat-icon>
              <span>Cerrar Sesión</span>
            </button>
          </mat-menu>
        }
        @else {
          <a mat-button [routerLink]="ROUTES.get( 'signup' )" routerLinkActive="ActiveLink" aria-label="Registrarse" class="signin-button">
            <mat-icon matPrefix>signature</mat-icon>
            <span class="HeaderLinkButtonText" routerLinkActive="ActiveLink">Registrarse</span>
          </a>
          <a mat-button [routerLink]="ROUTES.get( 'login' )" routerLinkActive="ActiveLink" aria-label="Iniciar Sesión" class="login-button">
            <mat-icon matPrefix>login</mat-icon>
            <span class="HeaderLinkButtonText" routerLinkActive="ActiveLink">Iniciar Sesión</span>
          </a>
        }
      </div>
    </div>
  </mat-toolbar>
</header>

<main>
  <router-outlet />
</main>

<footer>
  <div id="mainContainerDivId">
    <div id="mainDivLeftId">
      <div id="footerLogoDivId">
        <a [routerLink]="ROUTES.get( 'home' )" aria-label="Ir a Inicio">
          <img src="/images/Logo_UG_EVENTOS_white.webp" alt="UG Eventos Logo" height="70px" id="logoImageId">
        </a>
      </div>
      <div id="csLogoDivId">
        <img src="/images/CARRERA DE SOFTWARE_LogoTotal_AJUSTADO AL CONTENIDO_400x70.webp" id="CSLogoImgId" alt="Carrera de Software Logo"/>
      </div>
    </div>
    <div id="mainDivRightId">
      <div id="enlacesUniversitariosDivId">
        <h6>Enlaces Universitarios</h6>
        <address>
          <a href="https://servicioenlinea.ug.edu.ec/siug/Account/Login.aspx" target="_blank" rel="noopener" rel="noreferrer" aria-label="Ir al SIUG">
            SIUG
          </a>
        </address>
        <address>
          <a href="https://campusvirtual2.ug.edu.ec/altlogin/index.html" target="_blank" rel="noopener" rel="noreferrer" aria-label="Ir a la Plataforma Moodle">
            Plataforma Moodle
          </a>
        </address>
        <address>
          <a href="https://www.ug.edu.ec/" target="_blank" rel="noopener" rel="noreferrer" aria-label="Ir a la Página de la Universidad de Guayaquil UG">
            Universidad de Guayaquil
          </a>
        </address>
      </div>
      <div id="externalResourcesDivId">
        <div id="graphicalResourcesDivId">
          <h6>Recursos Gráficos</h6>
          <div id="pixabayLinkDivId">
            <a href="https://pixabay.com/" target="_blank" rel="noopener" rel="noreferrer" aria-label="Ir a Pixabay.com"><img src="/images/pixabay_logotype_light.svg" id="PixabayLogoId" height="30" alt="Pixabay Logo"/></a>
          </div>
        </div>
      </div>
      <div id="copyrightSectionDivId">
        <div id="UGLogoDivId">
          <img src="/images/UG_LOGO_2023_SOLO_105x60.png" id="UGLogoImgId" alt="Universidad de Guayaquil Imagotipo Logo"/>
        </div>
        <div id="UniFaTextDivId">
          <strong>Facultad de Ciencias Matemáticas y Físicas</strong>
          <strong>Universidad de Guayaquil</strong>
        </div>
        <div id="FacultadLogoDivId">
          <img src="/images/LOGO_FACULTAD_CIENCIAS_MATEMATICAS_Y_FISICAS_67x70.PNG" id="FCMFLogoImgId" alt="Facultad de Ciencias Matematicas y Fisicas Logo"/>
        </div>
      </div>
    </div>
  </div>
  <div id="copyrightLegendDivId">
    <span>© 2025 Desarrollo de Aplicaciones Web Avanzado - GRUPO #4 - Ingeniería de Software - SOF-S-MA-7-2 Ciclo I</span>
  </div>
</footer>
