/* You can add global styles to this file, and also import other style files */
@import url( './theme.scss' );

html, body { height: 100%; }

body {
  width: 100%;
  margin: 0;
  font-family: "Poppins", Roboto, "Helvetica Neue", sans-serif;
  background-color: var( --surface );
}

app-root {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}

main{
  padding-inline: 4rem;
  box-sizing: border-box;

  @media( max-width: 700px ) {
    padding-inline: 1.5rem;
  }
}

*{
  font-size: 11.5pt;
  font-family: Poppins;
}

router-outlet{
  display: none;
}

h1 {
  font-size: 32pt;
}

h2 {
  font-size: 24pt;
}

h3 {
  font-size: 18pt;
}

h4 {
  font-size: 16pt;
}

h5 {
  font-size: 14pt;
}

h6 {
  font-size: 12pt;
}

:root{
  --font-size-line-height: 20pt;
}

mat-icon {
  font-family: 'Material Symbols Rounded';
  font-size: var(--font-size-line-height);
  line-height: var(--font-size-line-height);
}
